<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Presentacion.My.MySettings.AGROLAB_PRUEBAConnectionString" connectionString="Data Source=AGROSERV;Initial Catalog=AGROLAB_PRUEBA;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    
  <supportedRuntime version="v2.0.50727"/></startup>
</configuration>
